{block content}
<h1>Sandbox</h1>

<h2>Kategorie</h2>
<ul>
	<li n:foreach="$categories as $category">{$category->getName()}</li>
</ul>

<h2>Novinky</h2>
<table>
	<tr>
		<th>Název</th>
		<th>Datum vytvoření</th>
		<th>Datum publikování</th>
		<th>Obsah</th>
	</tr>
	<tr n:foreach="$newsArray as $news">
		<td>{$news->getName()}</td>
		<td>{$news->getCreateDate()|date:"j. n. Y H:i:s"}</td>
		<td>{$news->getPublishDate()|date:"j. n. Y H:i:s"}</td>
		<td>{$news->getContent()}</td>
	</tr>
</table>